USE [Portal2025]
GO
/****** Object:  Table [dbo].[Il]    Script Date: 21.12.2025 19:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Il](
	[Id] [tinyint] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[BuyukSehir] [bit] NOT NULL,
 CONSTRAINT [PK_Il] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilce]    Script Date: 21.12.2025 19:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilce](
	[Id] [smallint] NOT NULL,
	[IlId] [tinyint] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[TelefonKodu] [smallint] NOT NULL,
 CONSTRAINT [PK_Ilce] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Il] ([Id], [Name], [BuyukSehir]) VALUES (1, N'ADANA', 1)
INSERT [dbo].[Il] ([Id], [Name], [BuyukSehir]) VALUES (2, N'ADIYAMAN', 0)
INSERT [dbo].[Il] ([Id], [Name], [BuyukSehir]) VALUES (3, N'AFYONKARAHİSAR', 0)
GO
INSERT [dbo].[Ilce] ([Id], [IlId], [Name], [TelefonKodu]) VALUES (101, 1, N'ALADAĞ', 322)
INSERT [dbo].[Ilce] ([Id], [IlId], [Name], [TelefonKodu]) VALUES (102, 1, N'CEYHAN', 322)
INSERT [dbo].[Ilce] ([Id], [IlId], [Name], [TelefonKodu]) VALUES (103, 1, N'ÇUKUROVA', 322)
GO
/****** Object:  Index [IX_Ilce_IlId]    Script Date: 21.12.2025 19:15:39 ******/
CREATE NONCLUSTERED INDEX [IX_Ilce_IlId] ON [dbo].[Ilce]
(
	[IlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ilce]  WITH CHECK ADD  CONSTRAINT [FK_Ilce_Il_IlId] FOREIGN KEY([IlId])
REFERENCES [dbo].[Il] ([Id])
GO
ALTER TABLE [dbo].[Ilce] CHECK CONSTRAINT [FK_Ilce_Il_IlId]
GO
