CREATE PROC [dbo].[AllBackup]
@PATH VARCHAR(255) = NULL
AS
/*
EXEC master.dbo.AllBackup
EXEC master.dbo.AllBackup @PATH = 'C:\Dosyalar\Backups\Test\2023-10-01'
*/
DECLARE @IC BIGINT, @DBNAME VARCHAR(255), @SORGU NVARCHAR(MAX)
SET @SORGU = ''
DECLARE DB_CURSOR CURSOR FOR
SELECT F.[name] FROM [sys].[databases] AS F WHERE (F.[name] IN ('ArizaTalep', 'BayUniBumer', 'Portal2025', 'Sertifika', 'SksBasvuru')) ORDER BY F.[name]
OPEN DB_CURSOR
FETCH NEXT FROM DB_CURSOR INTO @DBNAME
WHILE @@FETCH_STATUS = 0
BEGIN
SET @SORGU = CONCAT(@SORGU, SPACE(1), 'EXEC [', @DBNAME, '].[dbo].[sp_BackupAl]', (CASE WHEN (@PATH IS NULL) THEN '' ELSE CONCAT(' @PATH = ''', @PATH, '''') END))
FETCH NEXT FROM DB_CURSOR INTO @DBNAME
END
CLOSE DB_CURSOR
DEALLOCATE DB_CURSOR /* PRINT @SORGU */
EXEC SP_EXECUTESQL @SORGU