CREATE PROC [dbo].[KillDB]
@DBNAME NVARCHAR(128)
AS
/*
EXEC master.dbo.KillDB @DBNAME = 'Portal2025'
*/
IF(ISNULL(OBJECT_ID('tempdb..#TBL_EBB1E063'),0) != 0) BEGIN DROP TABLE #TBL_EBB1E063 END
DECLARE @SPID SMALLINT, @SORGU NVARCHAR(1000) = ''
CREATE TABLE #TBL_EBB1E063(spid SMALLINT, ecid SMALLINT, [status] NVARCHAR(30), loginame NVARCHAR(128), hostname NVARCHAR(128), blk NVARCHAR(5), dbName NVARCHAR(128), cmd NVARCHAR(128), request_id INT)
INSERT INTO #TBL_EBB1E063 EXEC SP_WHO
DECLARE DB_CURSOR CURSOR FOR
SELECT spid FROM #TBL_EBB1E063 WHERE (dbName IN (SELECT [value] FROM [string_split](@DBNAME, ';') WHERE LTRIM(RTRIM([value])) != ''))
OPEN DB_CURSOR
FETCH NEXT FROM DB_CURSOR INTO @SPID
WHILE @@FETCH_STATUS = 0
BEGIN
SET @SORGU = CONCAT(@SORGU, 'kill ', @SPID, SPACE(1))
FETCH NEXT FROM DB_CURSOR INTO @SPID
END
CLOSE DB_CURSOR
DEALLOCATE DB_CURSOR
PRINT @SORGU
IF(LEN(@SORGU) > 0)
BEGIN
EXEC SP_EXECUTESQL @SORGU
END
IF(ISNULL(OBJECT_ID('tempdb..#TBL_EBB1E063'), 0) != 0) BEGIN DROP TABLE #TBL_EBB1E063 END