ALTER PROC [dbo].[sp_DatabaseRenameBuild]
@OldDBName NVARCHAR(30),
@NewDBName NVARCHAR(30)
AS
/*
EXEC [dbo].[sp_DatabaseRenameBuild] @OldDBName = 'Abc', @NewDBName = 'Deneme'
*/
IF EXISTS(SELECT MF.* FROM [sys].[master_files] AS MF WHERE MF.[database_id] = DB_ID(@OldDBName))
BEGIN
DECLARE @EXECUTERAW NVARCHAR(MAX)
, @MDFNAME NVARCHAR(255) = (SELECT TOP 1 MF.[name] FROM [sys].[master_files] AS MF WHERE MF.[database_id] = DB_ID(@OldDBName) AND MF.[file_id] = 1)
, @LOGNAME NVARCHAR(255) = (SELECT TOP 1 MF.[name] FROM [sys].[master_files] AS MF WHERE MF.[database_id] = DB_ID(@OldDBName) AND MF.[file_id] = 2)
SET @EXECUTERAW = N'
ALTER DATABASE ' + @OldDBName + ' MODIFY FILE (NAME=''' + @MDFNAME + ''', FILENAME=''' + CONVERT(NVARCHAR(MAX), SERVERPROPERTY('instancedefaultdatapath')) + @NewDBName + '.mdf'');
ALTER DATABASE ' + @OldDBName + ' MODIFY FILE (NAME=''' + @LOGNAME + ''', FILENAME=''' + CONVERT(NVARCHAR(MAX), SERVERPROPERTY('instancedefaultlogpath')) + @NewDBName + '_log.ldf'');
ALTER DATABASE ' + @OldDBName + ' MODIFY FILE (NAME = ' + @MDFNAME + ', NEWNAME = ' + @NewDBName + ');
ALTER DATABASE ' + @OldDBName + ' MODIFY FILE (NAME = ' + @LOGNAME + ', NEWNAME = ' + @NewDBName + '_log);
ALTER DATABASE ' + @OldDBName + ' SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
ALTER DATABASE ' + @OldDBName + ' MODIFY NAME = ' + @NewDBName + ';
ALTER DATABASE ' + @NewDBName + ' SET MULTI_USER;'
/*
  ALTER DATABASE Abc MODIFY FILE (NAME='Abc', FILENAME='C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Deneme.mdf');  
  ALTER DATABASE Abc MODIFY FILE (NAME='Abc_log', FILENAME='C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Deneme_log.ldf');  
  ALTER DATABASE Abc MODIFY FILE (NAME = Abc, NEWNAME = Deneme);  
  ALTER DATABASE Abc MODIFY FILE (NAME = Abc_log, NEWNAME = Deneme_log);  
  ALTER DATABASE Abc SET SINGLE_USER WITH ROLLBACK IMMEDIATE;  
  ALTER DATABASE Abc MODIFY NAME = Deneme;  
  ALTER DATABASE Deneme SET MULTI_USER;
*/
-- PRINT @EXECUTERAW
EXEC SP_EXECUTESQL @EXECUTERAW
END
ELSE
BEGIN
SELECT CONCAT(@OldDBName, ' veritabanı üzerine kayıt bulunamadı')
END